/* ------- Titles -------*/ 

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--color-box-tittle);

    font-weight: bold;
}

/* ------- link and buttons ------- */

a {
    color: #645D9E;
    text-decoration: none;
}

a:hover {
    color: #E2494D;
}

button {
    width: 100%;
    height: 50px;

    border: none;

    color: #1d1e1c;
    background: var(--color-box-tittle);

    padding: 0;

    border-radius: .25rem;

    cursor: pointer;
}

button:hover {
    background: #E2494D;
}


.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* ------- Header -------*/ 
header {
    background: #1d1e1c;
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1 {
    color: var(--color-logo);
    font-weight: 400;
}

/* ------- Balance ------- */

#balance {
    margin-top: -8rem;
}

#balance h2 {
    margin-top: 0;
}

/* ------- Cards ------- */

.card {
    background: #1d1e1c;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    opacity: 0.98;


    margin-bottom: 2rem;

}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    color: var(--color-box-tittle);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card h3.in{
    color:#80C4C2;
}

.card h3.out{
    color:#E2494D;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
    color: var(--color-text-box);
}

/* ------- Table ------- */

#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table {
    width: 100%;

    border-spacing: 0 0.5rem;

}

table thead tr th:first-child,
table thead tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table thead tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}



table th {
    background: var(--color-background);
    opacity: 0.92;

    padding: 1rem 2rem;

    font-weight: normal;
    text-align: left;
    color: var(--color-text-box);

}


table tbody tr {
    opacity: 0.8;
}


table tbody tr:hover {
    opacity: 1;
}


table td {
    background: var(--color-background);

    padding: 1rem 2rem;

    color: var(--color-text-box)
    
}

td.description {
    color: var(--color-box-tittle);
    font-weight: bold;
}

td.incomo {
    color: #80C4C2;

}

td.expense {
    color: #E2494D
}

td.date {
    color: #d2d2d2;
}

